<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">创建一周计划</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeAddTodo()">关闭</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="todo in waitingTodos" class="item item-remove-animate" on-hold="moveTaskOut()">
        <label class="item-index">{{$index + 1}}.</label>
        <span class="done-{{todo.done}}">{{todo.text}}</span>
        <ion-option-button class="button-assertive" ng-click="deleteTodo()">删除</ion-option-button>
      </ion-item>
      <ion-item>
        <form ng-submit="addTodo()">
          <label class="item-input item-task">
            <input type="text" ng-model="todoText" placeholder="计划做什么？" class="input-todotext" required>
          </label>
        </form>
      </ion-item>
    </ion-list>
    <div class="tip-move-out" ng-hide="todos.length === 0">长按将计划移出到待办计划列表</div>
  </ion-content>
  <ion-footer-bar>
    <div class="button-bar">
      <a class="button" ng-click="deleteAll()" ng-disabled="checkTodos()">删除全部计划</a>
      <button class="button button-calm" ng-disabled="checkTodos()" ng-click="saveWeekTodos()">开始一周计划</button>
    </div>
  </ion-footer-bar>
</ion-modal-view>