<ion-view view-title="待办计划">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="todo in stageTodos" class="item-remove-animate item-todo" on-hold="moveTaskIn()">
        <label class="item-index">{{$index + 1}}.</label>
          <span class="done-{{todo.done}}">{{todo.text}}</span>
          <ion-option-button class="button-assertive" ng-click="deleteTodo()">删除</ion-option-button>
      </ion-item>
      <ion-item class="add-task" id="add-task">
        <form ng-submit="addTodo()">
          <label class="item-input">
            <input id="add-input" type="text" placeholder="添加新计划" ng-model="todoText" class="input-todotext" required>
          </label>
        </form>
      </ion-item>
    </ion-list>
    <ul class="tip-move-in">
      <li ng-show="showTip()">下滑添加新的待办计划</li>
      <li ng-show="stageTodos.length > 0">长按移入到待执行一周计划中</li>
    </ul>
  </ion-content>
</ion-view>